@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");

#logo {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
  color: #4a4a4a;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  background: linear-gradient(120deg, #fbc2eb, #a6c0fe);
  -webkit-background-clip: text;
  color: transparent;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  transition: transform 0.3s ease;
}

.name:hover {
  transform: translateY(-5px);
}

/* Navbar.css */

/* Basic Navbar Styling */
nav {
  position: relative; /* Necessary for absolute positioning of the mobile menu */
}

/* Hide the mobile menu by default */
nav .space-x-6 {
  transition: all 0.3s ease-in-out;
}

/* Show menu button on small screens */
button.md\\:hidden {
  display: block;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Responsive menu for mobile devices */
@media (max-width: 768px) {
  nav .space-x-6 {
    position: absolute;
    left: 0;
    right: 0;
    background-color: black;
    top: 100%;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  nav .space-x-6 a {
    display: block; /* Stacked links for mobile */
    margin: 8px 0;  /* Spacing between links */
  }

  nav .md\\:inline {
    display: none; /* Hide the inline Contact Me button on small screens */
  }
}

